# let's not checkin the built executable
calliope

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore secrets
client_secret.json
*oauth_token.json
.envrc

# ignore Mac files
.DS_Store

# Elasticsearch data
data

# IDE/editor files
.idea

# Temporary files
tmp