<style>
    .bar {
        fill: steelblue;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }
</style>

{{/*<script>*/}}
    {{/*data = {{.Data}}*/}}
    {{/*// data = [*/}}
    {{/*//     {*/}}
    {{/*//         Date: "2018-01-01",*/}}
    {{/*//         Messages: 2*/}}
    {{/*//     },*/}}
    {{/*//     {*/}}
    {{/*//         Date: "2018-01-02",*/}}
    {{/*//         Messages: 3*/}}
    {{/*//     },*/}}
    {{/*//     {*/}}
    {{/*//         Date: "2018-01-03",*/}}
    {{/*//         Messages: 1*/}}
    {{/*//     }*/}}
    {{/*// ]*/}}
{{/*</script>*/}}

<svg class="chart"></svg>

<h1 id="ToC">Table of Contents</h1>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>From</th>
        <th>Gmail</th>
        <th>Jump</th>
        <th>Subject</th>
    </tr>
    </thead>
    <tbody>
    {{range .Messages}}
    <tr>
        <td>{{.Date}}</td>
        <td>{{.From}}</td>
        <td><a href="{{.ThreadId | gmailUrl}}" target="_blank">Gmail</a></td>
        <td><a href="{{.Id | jump}}">jump</a></td>
        <td>{{.Subject}}</td>
    </tr>
    {{end}}
    </tbody>
</table>

<h2>Email messages</h2>

<ul>
    {{range .Messages}}
    <li>
        <table id="{{.Id}}">
            <tr>
                <th scope="row">Date</th>
                <td>{{.Date}}</td>
            </tr>
            <tr>
                <th scope="row">From</th>
                <td>{{.From}}</td>
            </tr>
            <tr>
                <th scope="row">To</th>
                <td>{{.To}}</td>
            </tr>
            <tr>
                <th scope="row">Cc</th>
                <td>{{.Cc}}</td>
            </tr>
            <tr>
                <th scope="row">Subject</th>
                <td>{{.Subject}}</td>
            </tr>
        </table>
        <div>
            {{.Body}}
        </div>
        <ul>
            <li>
                <a href="#ToC">ToC</a>
            </li>
            <li>
                <a href="{{.ThreadId | gmailUrl}}" target="_blank">Gmail</a>
            </li>
        </ul>
    </li>
    {{end}}
</ul>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
    data = [
        {
            date: "2018/10/01",
            messages: 2
        },
        {
            date: "2018/10/02",
            messages: 4
        },
        {
            date: "2018/10/03",
            messages: 2
        },
        {
            date: "2018/10/04",
            messages: 1
        },
        {
            date: "2018/10/05",
            messages: 12
        },
        {
            date: "2018/10/06",
            messages: 18
        },
        {
            date: "2018/10/07",
            messages: 5
        },
        {
            date: "2018/10/08",
            messages: 0
        },
        {
            date: "2018/10/09",
            messages: 1
        },
    ]

    var margin = {top: 20, right: 30, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var chart = d3.select(".chart")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    x.domain(data.map(function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.messages; })]);

    chart.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    chart.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    chart.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.date); })
        .attr("y", function(d) { return y(d.messages); })
        .attr("height", function(d) { return height - y(d.messages); })
        .attr("width", x.rangeBand());
</script>