{{define "content"}}
    <h1>Calliope stats</h1>
    <ul>
        <li>
            Number of emails: {{.TotalEmails}}
        </li>
        <li>
            Earliest email date: {{.Earliest}}
        </li>
        <li>
            Latest email date: {{.Latest}}
        </li>
    </ul>

    <div class="search-form">
        <form action="/" method="get">
            <textarea rows="20" cols="120" name="query" placeholder="Enter JSON request here"></textarea>
            <input type="submit" value="submit">
        </form>
    </div>

    <div class="report">
        {{.Report}}
    </div>
{{end}}
